<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Словарь</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/builds/assets/favicon/favicon-PROD.ico" type="image/x-icon">

    <!-- inject:css -->
    <link rel="stylesheet" href="/builds/css/main.css?1487170833821">
    <!-- endinject -->
</head>
<body>

<my-app>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</my-app>

<script>
    // Fixes undefined module function in SystemJS bundle
    function module() {}
</script>

<!-- shims:js -->
<!-- endinject -->



<!-- libs:js -->
<!-- endinject -->

<!-- inject:js -->
<script src="/builds/js/shims.js?1487170833818"></script>
<script src="/builds/js/app.js?1487170833819"></script>
<!-- endinject -->



</body>
</html>
